<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conclusion</title>
</head>
<body>
    <div class="title">
        <h4 class="section">Conclusion</h4>
    </div>
    <div class="content", align="left">
        <p>In conclusion, it is perfectly possible to look at this strategy from an epistemic logic perspective. Implicitly, the strategy contains a lot of second order knowledge, which leads to a lot of common knowledge. Actually, even though not defined, epistemic reasoning is the basis of this strategy. This is made formal using rules and Kripke models. This strategy could be improved by heuristics and probabilistic reasoning (e.g. formally trying to calculate the most informative hint). However, this would not change the epistemic logic meaning of the project. On the other hand, this strategy is based on convention and might not mimic a real round of the game. Furthermore, players are actually communicating more information than they're allowed to. For further research, looking into a strategy that performs equally well, but with less convention might be interesting.</p>
    </div>

    <div>
        <p><a class="home-btn" href="/" role="button">Home</a></p>
    </div>
</body>
</html>