<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hanabi Bot - Multi Agent System</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <div class="header">
            <h3 class="text-muted">Hanabi Header!</h3>
        </div>

        <div>
        <p><a class="btn-tbl" href="kripke" role="button">See Kripke Models</a>
        </p>
        </div>

        <footer class="footer">
            <p>Thank you!!</p>
        </footer>

    </div>
</body>

</html>