<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hanabi Bot - Multi Agent System</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <div class="header">
            <h3 class="page-header", align="center">Hanabi Bot: Multi Agent Systems</h3>
        </div>

        <div class="authors">
            <h6 class="authors", align="center">Sanne Eggengoor, Nachiket Desai</h6>
        </div>

        <div class="abstract">
        </div>

        <div>
        <p><a class="link-btn" href="introduction.html" role="button">Introduction</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="rules.html" role="button">Rules</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="strategy.html" role="button">Strategy Discussion</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="logic.html" role="button">Logic</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="kripke.html" role="button">Kripke Models</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="implementation.html" role="button">Objects in Python</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="result.html" role="button">Results</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="conclusion.html" role="button">Conclusion</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="references.html" role="button">References</a></p>
        </div>


        <footer class="footer">
            <p>Thank you!</p>
        </footer>

    </div>
</body>

</html>