<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hanabi Bot - Multi Agent System</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <div class="header">
            <h3 class="page-header", align="center">Hanabi Bot: Multi Agent Systems</h3>
        </div>

        <div class="authors">
            <h6 class="authors", align="center">Sanne Eggengoor, Nachiket Desai</h6>
        </div>

        <div class="abstract">
            <p>Abstract here</p>
        </div>

        <div>
        <p><a class="link-btn" href="introduction" role="button">Introduction</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="rules" role="button">Rules</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="strategy" role="button">Strategy Discussion</a></p>
        </div>

        <div>
        <p><a class="link-btn" href="kripke" role="button">See Kripke Models</a></p>
        </div>

        <footer class="footer">
            <p>Thank you!</p>
        </footer>

    </div>
</body>

</html>