<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hanabi</title>
</head>
<body>
    <div class="section">
        <h4 class="section", align="left">Introduction</h4>
        <p>The game Hanabi is a cooperative game, in which players need to cooperate in order to create the best and most beautiful firework show. This means the players do not play against each other but play together. However, this is not that easy, because players do not know the value of their own cards. Knowledge about this can be obtained by giving hints to fellow players, these hints follow strict rules, which makes it easy to formalize them. In this project, multiple strategies for obtaining the highest amount of points will be compared.</p>
    </div>

    <div>
        <p><a class="home-btn" href="/" role="button">Home</a></p>
    </div>
</body>
</html>