<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hanabi</title>
</head>
<body>
    <div class="section">
        <h4 class="section", align="left">Introduction</h4>
        <p>The game Hanabi is a cooperative game, in which players need to cooperate in order to create the best and most beautiful firework show. This means the players do not play against each other but play together. However, this is not that easy, because players do not know the value of their own cards. Knowledge about this can be obtained by giving hints to fellow players, these hints follow strict rules, which makes it easy to formalize them. In this project, multiple strategies for obtaining the highest amount of points will be compared.</p>
        <p>Hanabi is a multiplayer card game created by Antoine Bouza, where the players cooperate with each other towards a the same goal. In Hanabi, a player does not see his/her own hand, but can see the hands of all other players. They must then work together so each agent can gain information about their own cards and play them to score and win. As mentioned, the players do not play against each other but play together. However, this is not that easy, because players do not know the value of their own cards. Knowledge about this can be obtained by giving hints to fellow players, these hints follow strict rules, which makes it easy to formalize them. In this project, multiple strategies for obtaining the highest amount of points will be compared. In a way this is similar to the ‘hat guessing’ scenario where deductions are made on the actions and properties of other agents. </p>
        <p>We plan to implement a knowledge-based strategy that helps a group of bot agents win the game. The strategy is based off of common knowledge that the agents possess of infer. Each turn the bot tries to increase knowledge in a manner that helps bring the required cards to the center. Essentially the players aim to prioritize cards that can be immediately played, the details of the strategy are discussed in the Strategy section where we discuss the method used to store and track private and common knowledge and the criteria on which the agents base their decisions. We also discuss how knowledge increases as the game progresses.</p>
    </div>

    <div>
        <p><a class="home-btn" href="/" role="button">Home</a></p>
    </div>
</body>
</html>