<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>References</title>
</head>
<body>
    <div class="title">
        <h4 class="section">References</h4>
    </div>
    <div class="content", align="left">
        <p>APA: Cox, C., De Silva, J., Deorsey, P., Kenter, F. H., Retter, T., & Tobin, J. (2015). How to make the perfect fireworks display: Two strategies for hanabi. Mathematics Magazine, 88(5), 323-336.</p>
        <a class="link-btn" href="https://quuxplusone.github.io/blog/images/how-to-make-the-perfect-fireworks-display.pdf" role="button">How to Make the perfect fireworks display. Two strategies for Hanabi.</a>
    </div>

    <div class="content", align="left">
        <a class="link-btn" href="https://www.ultraboardgames.com/hanabi/game-rules.php" role="button">Rules for Hanabi</a>
    </div>
    <div class="content", align="left">
        <a class="link-btn" href="https://quuxplusone.github.io/blog/2018/03/29/hat-guessing-in-hanabi/" role="button">Other Strategies</a>
    </div>

    <div>
        <p><a class="home-btn" href="/" role="button">Home</a></p>
    </div>
</body>
</html>