<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soon To Be The Best Hanabi Bot Ever</title>

</head>
<body>
    <div class="container">



        <!-- Use the following between <div class='section'> your_content </div> to add more sections-->
        <div class="section">
            <h4 class="section", align="left">1. Introduction</h4>
            <p>The game Hanabi is a cooperative game, in which players need to cooperate in order to create the best and most beautiful firework show. This means the players do not play against each other but play together. However, this is not that easy, because players do not know the value of their own cards. Knowledge about this can be obtained by giving hints to fellow players, these hints follow strict rules, which makes it easy to formalize them. In this project, multiple strategies for obtaining the highest amount of points will be compared.</p>
        </div>

        <div class="section">
            <h4 class='section', align='left'>2. Rules</h4>
        </div>

        <!-- Nested div tags for subsections -->
        <!-- class if just for editing etc purposes, to group things that would have similar properties together -->
        <div class="section">
            <h4 class='section', align='left'>3. Strategy</h4>
            <div class='sub-section'>
                <h5 class='sub-section', align='left'>3.1. Objectives</h5>
            </div>

            </div>
        </div>

        <div>
        <p><a class="link-btn" href="/">Home</a>
        </p>
        </div>

    </div>
</body>
</html>