<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
</head>

<body>
    <div class="section">
        <h4 class="section", align="left">Rules</h4>
        <p>We use the normal version of the Hanabi game. There are 50 cards in total divided into 5 suits/colors. Each suit has 10 cards, each card has a number ranging from 1 to 5. The ten cards in each suit as distributed as follows amongts the ranks/numbers: three 1’s, two 2’s, two 3’s, two 4’s and one 5 card.</p>
        <p>At the beginning of the game, the players collectively have 8 hint tokens and 3 mistake tokens. Each player is dealt 4 cards, these cards can only be seen by all the other players but not the owner itself. Now the players take turns one by one in a fixed order. For his/her turn, a player can choose to perform one of the following three action:</p>
        <ol>
            <li>Hint: </li>
            <li>Play:</li>
            <li>Discard:</li>
        </ol>
        <p></p>

    </div>

    <div>
        <p><a class="home-btn" href="/" role="button">Home</a></p>
    </div>
</body>
</html>